<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <script src="./notification.js"></script>
</head>

<body>
    <div class="content" id="notification-content">

        <div class="close-btn" onclick="closeNotification()"></div>
        <img id="notification-icon" src="null" onerror="this.src=defaultIcon" alt="Icon">
        <div class="notification-text">
            <h1 id="notification-title"></h1>
            <p id="notification-message"></p>
        </div>

    </div>
</body>

</html>