@import "~bootstrap/scss/bootstrap";

* {
    user-select: none;
    -webkit-user-drag: none;
}

@font-face {
    font-family: "Motiva Sans";
    src: url("../../assets/fonts/MotivaSans-Regular.ttf");
   }

body{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    color: #c6d4df;
    background-color: #141414;

    .steamgrid-credits{
        font-size: 0.7rem;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 5px;
    }

    .grid-in-progress-info{
        display: flex;
        align-items: center;
    }
}