<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Steam Scanner</title>
</head>

<body>
    <div id="root"></div>
    <script src="./grid.js" type="text/javascript"></script>
</body>

</html>